@import "../../global.scss";

.experience {
  background-color: lightgreen;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
    height: 10.2%;

    @include mobile {
      font-size: 25px;
      padding-top: 50px;
    }
  }

  .section {
    display: flex;
    align-items: center;
    justify-content: center;

    .slider {
      height: 60vh;
      display: flex;

      @include mobile {
        height: 75vh;
      }

      .container {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @include mobile {
          padding: 25px;
        }

        .item {
          box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.548);
          width: 80%;
          max-height: 100%;
          background-color: white;
          border-radius: 20px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-evenly;

          @include mobile {
            width:100%;
          }

          figure {
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            padding: 20px;

            @include mobile {
              padding: 15px;
            }

            progress[value] {
              @include mobile {
                width: 95px;
              }
            }

            figcaption {
              font-weight: 500;

              @include mobile {
                padding: 5px;
              }
            }
          }

          @include mobile {
            flex-wrap: wrap;
            justify-content: space-evenly;
          }

          img {
            width: 120px;

            @include mobile {
              width: 65px;
            }
          }
        }
      }
    }
  }
}
