@import "../../global.scss";

.experience {
  background-color: lightgreen;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
    height: 10.2%;

    @include mobile {
      font-size: 25px;
      padding-top: 50px;
    }
  }

  .section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;

    .slider {
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      text-align: left;

      @include mobile {
        height: 100%;
        width: 100%;
      }

      .container {
        width: 20vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        text-align: left;

        @include mobile {
          flex-wrap: wrap;
          padding: 10px;
          width: 30%;
        }

        .item {
          box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.548);
          width: 100vh;
          height: max-content;
          background-color: white;
          border-radius: 20px;
          align-items: center;
          justify-content: center;
          margin: 20px;
          text-align: left;

          @include mobile {
            width:100%;
            margin: 0;
          }

          figure {
            font-family: sans-serif;
            align-items: left;
            justify-content: center;
            display: flex;
            flex-direction: column;
            padding: 20px 5px;
            font-weight: bolder;
            line-height: 20px;
            font-size: 15px;
            text-align: left;

            figcaption {
              display: flex;
              align-items: left;
              justify-content: left;
              font-weight: 500;
              text-align: left;

              @include mobile {
                padding: 5px;
              }
            }
          }

          @include mobile {
            flex-wrap: wrap;
            justify-content: space-evenly;
          }

          img {
            width: 60%;
            align-self: center;

            @include mobile {
              width: 65px;
            }
          }
        }
      }
    }
  }
}
